.app-container{
          width: 75%;
          height: 75vh;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
          border: 1px solid rgba(255, 255, 255, 0.9);
          display: flex;
          align-items: center;
}
nav{
          width: 10%;
          height: 75vh;
          display: flex;
          align-items: center;
          flex-direction: column;
}
nav i{
          color: #375778;
          font-size: 32px;
}
nav .button-area{
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          height: 60vh;
          flex-direction: column;
}
nav .button-area i,
nav .log-out i{
          width: 64px;
          height: 64px;
          margin-bottom: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
          cursor: pointer;
          transition: 0.3s all ease;
}
nav .button-area i:hover,
main .left-side .menu .navbar .start-chat-button i:hover{
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
          color: #5DADE2;
}
nav .log-out i:hover{
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
          color: #D98880;
}
main{
          background: rgba(255, 255, 255, 0.3);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
          width: 88%;
          height: 70vh;
          border-radius: 24px;
          display: flex;
}
main .left-side{
          width: 25%;
          height: 70vh;
          border-right: 3px double #eee;
}
main .left-side .menu{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
}
main .left-side .menu .navbar{
          margin-top: 1vh;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 6vh;
}
main .left-side .menu .navbar .logo{
          font-size: 24px;
          width: 80%;
          color: #375778;
}
main .left-side .menu .navbar .logo span{
          color: #5DADE2;
          font-weight: bold;
}
main .left-side .menu .navbar .start-chat-button i{
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
           justify-content: center;
          border-radius: 16px;
          font-size: 24px;
          cursor: pointer;
          transition: 0.3s all ease;
}
main .left-side .menu .search-input{
          width: 80%;
          height: 5vh;
          background: rgba(255, 255, 255, 0.3);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
          border-radius: 8px;
          display: flex;
}
main .left-side .menu .search-input input{
          width: 85%;
          background: transparent;
          border: none;
          color: #bcc4e1;
          font-size: 20px;
          padding-left: 24px;
          height: 100%;
          border:3px solid transparent;
}
main .left-side .menu .search-input input:focus {
          outline: none;
          border:3px solid #5DADE2;
          border-radius: 8px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          color: #375778;
}
main .left-side .menu .search-input .search-icon{
          width: 15%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #375778;
          font-size: 20px;
          cursor: pointer;
          border-left: 1px solid #CCD1D1;
}
main .left-side .user-cards {
          margin-top: 1vh;
          height: 75%;
          display: flex;
          align-items: center;
          flex-direction: column;
}
main .left-side .user-cards .card{
          width: 90%;
          height: 10vh;
          background-color: transparent;
          border: 1px solid #CCD1D1;
          display: flex;
          border-radius: 16px;
          cursor: pointer;
          margin-top: 16px;
}
main .left-side .user-cards .card-active,
main .left-side .user-cards .card:hover{
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
}
main .left-side .user-cards .card .photograph{
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          margin-right: 1em;
}
main .left-side .user-cards .card .photograph img{
          width: 64px;
          height: 64px;
          border-radius: 50%;
          margin-left: 10%;
}
main .left-side .user-cards .card .photograph .user-situation {
          width: 10px;
          height: 10px;
          background-color: gray;
          border-radius: 50%;
          margin-top: 50%;
          margin-left: -10%;
}
main .left-side .user-cards .card .photograph .user-active{
          background-color: #8aea9b;
}
main .left-side .user-cards .card .name{
          font-size: 24px;
          margin-top: 1.5vh;
          color: #46607f;
          display: flex;
          align-items: center;
}
main .left-side .user-cards .card .name .message-notification{
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #2c80ff;
          margin-left: 40%
}
main .left-side .user-cards .card .profile-area .message-text{
          margin-top: 0.5vh;
          font-size: 16px;
          overflow: hidden;
          height: 24px;
          color: #b3bcd3;
}
main .right-side{
          width: 75%;
          height: 100%;
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
          border-top-right-radius: 24px;
          border-bottom-right-radius: 24px;
}
main .right-side .profile-area{
          width: 100%;
          height: 10vh;
          border-bottom: 3px solid rgba(255, 255, 255, 0.9);
          display: flex;
          align-items: center;
}
main .right-side .profile-area .photograph{
          display: flex;
          align-items: center;
}
main .right-side .profile-area .photograph img{
          width: 64px;
          height: 64px;
          margin-left: 1em;
          border-radius: 50%;
}
main .right-side .profile-area .photograph .user-situation{
          width: 10px;
          height: 10px;
          background-color: #8aea9b;
          border-radius: 50%;
          margin-top: 32px;
          margin-left: -8px;
}
main .right-side .profile-area .user-info{
          margin-left: 1em;
          width: 75%;
}
main .right-side .profile-area .user-info .user-name{
          font-size: 24px;
          color: #46607f;
          font-weight: bold;
}
main .right-side .profile-area .user-info .user-history{
          font-size: 16px;
          color: #909bb8;
}
main .right-side .profile-area .buttons i{
          font-size: 32px;
          color: #375778;
          cursor: pointer;
          transition: 0.3s all ease;
}
main .right-side .profile-area .buttons i:hover{
          color: #5DADE2;
}
main .right-side .profile-area .buttons i:nth-child(1),
main .right-side .profile-area .buttons i:nth-child(2){
          margin-right: 16px;
}
main .right-side .chat-area{
          width: 100%;
          height: 50vh;
          border-bottom:3px solid rgba(255, 255, 255, 0.9) ;
}
main .text-chat {
          display: flex;
          align-items: center;
}
main .text-chat .buttons{
          display: flex;
          align-items: center;
          width: 20%;
          height: 10vh;
          margin-left: 0.5em;
}
main .text-chat .buttons i {
          transition: 0.3s all ease;
          width: 48px;
          height: 48px;
          font-size: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #375778;
          cursor: pointer;
          margin-left: 0.5em;
}
main .text-chat .buttons i:hover{
          color: #5DADE2;
}
main .text-chat .buttons .apps{
          width: 48px;
          transition: 0.3s all ease;
          height: 48px;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: repeat(2,1fr);
          row-gap: 2px;
          column-gap:2px;
          padding: 12px;
          cursor: pointer;
          margin-left: 0.5em;
}
main .text-chat .buttons .apps:hover div{
          border: 3px solid #5DADE2;
}
main .text-chat .buttons .apps div{
          border: 3px solid #375778;
}
main .text-chat input{
          border: none;
          border-radius: 16px;
          padding-left: 8px;
          font-size: 20px;
          color: #909bb8;
          height: 5vh;
          width: 60%;
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
}
main .text-chat input:focus{
          outline: none;
          border: 3px solid #bcc4e1;
}
main .text-chat .chat-buttons i{
          font-size: 32px;
          color: #375778;
          margin-left: 1em;
          transition: 0.3s all ease;
          cursor: pointer;
}
main .text-chat .chat-buttons i:hover{
          color: #5DADE2;
}
main .right-side .chat-area .message-container-across-person{
          width: 100%;
          display: flex;
          justify-content: flex-start;
}
main .right-side .chat-area .message-container-me-person{
          width: 100%;
          display: flex;
          justify-content: flex-end;
}
main .right-side .chat-area .message-container-across-person .message{
          max-width: 50%;
          margin: 1em 1.5em;
          padding: 16px;
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
          border-radius: 16px 16px 16px 0;
}
main .right-side .chat-area .message-container-across-person .message .date,
main .message-container-me-person .message .date{
          margin-top: 1vh;
          color: #b3bcd3;
}
main .message-container-me-person .message{
          max-width: 50%;
          margin: 1em 1.5em;
          padding: 16px;
          background: rgba(255, 255, 255, 0.8);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(3.3px);
          -webkit-backdrop-filter: blur(3.3px);
          border-radius: 16px 16px 16px 0;
}
main .right-side .chat-area .message-container-across-person-writing{
          max-width: 50%;
}